In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df=pd.DataFrame({
    'Population':[20.0,36.8,48.5,53.7,33.2,56.8,87.6],
    'GDP':[2300000,3400000,4500000,5600000,6700000,7800000,8900000],
    'Surface Area':[123456789,234567891,345678912,456789123,567891234,678912345,789123456],
    'Continent':['North America','South America','Africa','North America','Asia','Europe','Australia']
},columns=['Continent','Population','GDP','Surface Area'])

In [96]:
df

       Continent  Population      GDP  Surface Area
0  North America        20.0  2300000     123456789
1  South America        36.8  3400000     234567891
2         Africa        48.5  4500000     345678912
3  North America        53.7  5600000     456789123
4           Asia        33.2  6700000     567891234
5         Europe        56.8  7800000     678912345
6      Australia        87.6  8900000     789123456

In [97]:
df.index=['Canada','Brazil','South Africa','USA','India','France','Australia']

In [98]:
df

                  Continent  Population      GDP  Surface Area
Canada        North America        20.0  2300000     123456789
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123
India                  Asia        33.2  6700000     567891234
France               Europe        56.8  7800000     678912345
Australia         Australia        87.6  8900000     789123456

In [99]:
df.columns

Index(['Continent', 'Population', 'GDP', 'Surface Area'], dtype='object')

In [100]:
df.index

Index(['Canada', 'Brazil', 'South Africa', 'USA', 'India', 'France',
       'Australia'],
      dtype='object')

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to Australia
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Continent     7 non-null      object
 1   Population    7 non-null      float64
 2   GDP           7 non-null      int64
 3   Surface Area  7 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 280.0+ bytes

In [102]:
df.describe()

       Population           GDP  Surface Area
count    7.000000  7.000000e+00  7.000000e+00
mean    48.085714  5.600000e+06  4.566314e+08
std     21.628564  2.376272e+06  2.397799e+08
min     20.000000  2.300000e+06  1.234568e+08
25%     35.000000  3.950000e+06  2.901234e+08
50%     48.500000  5.600000e+06  4.567891e+08
75%     55.250000  7.250000e+06  6.234018e+08
max     87.600000  8.900000e+06  7.891235e+08

In [103]:
df.shape

(7, 4)

In [104]:
df.size

28

In [105]:
df.dtypes

Continent        object
Population      float64
GDP               int64
Surface Area      int64
dtype: object

In [106]:
df.dtypes.value_counts()

int64      2
object     1
float64    1
dtype: int64

<h1>Indexing, Selection and Slicing</h1>

Individual columns in the DataFrame can be selected with regular indexing. Each column is represented as a Series:

In [107]:
df

                  Continent  Population      GDP  Surface Area
Canada        North America        20.0  2300000     123456789
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123
India                  Asia        33.2  6700000     567891234
France               Europe        56.8  7800000     678912345
Australia         Australia        87.6  8900000     789123456

In [108]:
df.loc['Canada']

Continent       North America
Population                 20
GDP                   2300000
Surface Area        123456789
Name: Canada, dtype: object

In [109]:
df.loc['Canada'].to_frame()

                     Canada
Continent     North America
Population               20
GDP                 2300000
Surface Area      123456789

In [110]:
df['Population']

Canada          20.0
Brazil          36.8
South Africa    48.5
USA             53.7
India           33.2
France          56.8
Australia       87.6
Name: Population, dtype: float64

In [111]:
df['Population'].to_frame()

              Population
Canada              20.0
Brazil              36.8
South Africa        48.5
USA                 53.7
India               33.2
France              56.8
Australia           87.6

In [112]:
df.loc['Canada','Population']

20.0

In [113]:
df.loc[['Canada','USA']]

            Continent  Population      GDP  Surface Area
Canada  North America        20.0  2300000     123456789
USA     North America        53.7  5600000     456789123

In [114]:
df.loc['Canada':'USA']

                  Continent  Population      GDP  Surface Area
Canada        North America        20.0  2300000     123456789
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123

In [115]:
df.iloc[1]

Continent       South America
Population               36.8
GDP                   3400000
Surface Area        234567891
Name: Brazil, dtype: object

In [116]:
df.iloc[[1]]

            Continent  Population      GDP  Surface Area
Brazil  South America        36.8  3400000     234567891

In [117]:
df.iloc[[0,3]]

            Continent  Population      GDP  Surface Area
Canada  North America        20.0  2300000     123456789
USA     North America        53.7  5600000     456789123

In [118]:
df.iloc[0:3]

                  Continent  Population      GDP  Surface Area
Canada        North America        20.0  2300000     123456789
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912

This is a data frame

In [119]:
type(df.iloc[0:3])

pandas.core.frame.DataFrame

In [120]:
df.iloc[-1]

Continent       Australia
Population           87.6
GDP               8900000
Surface Area    789123456
Name: Australia, dtype: object

This is a series

In [121]:
type(df.iloc[-1])

pandas.core.series.Series

In [122]:
df.loc['Canada':'India','Population']

Canada          20.0
Brazil          36.8
South Africa    48.5
USA             53.7
India           33.2
Name: Population, dtype: float64

In [123]:
df.loc['Canada':'India',['Population','GDP']]

              Population      GDP
Canada              20.0  2300000
Brazil              36.8  3400000
South Africa        48.5  4500000
USA                 53.7  5600000
India               33.2  6700000

In [124]:
df.iloc[1:3,3]

Brazil          234567891
South Africa    345678912
Name: Surface Area, dtype: int64

In [125]:
df.iloc[1:3,[1,3]]

              Population  Surface Area
Brazil              36.8     234567891
South Africa        48.5     345678912

In [126]:
df.iloc[1:3,1:3]

              Population      GDP
Brazil              36.8  3400000
South Africa        48.5  4500000

<h1>Conditional Selection</h1>

In [127]:
df

                  Continent  Population      GDP  Surface Area
Canada        North America        20.0  2300000     123456789
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123
India                  Asia        33.2  6700000     567891234
France               Europe        56.8  7800000     678912345
Australia         Australia        87.6  8900000     789123456

In [128]:
df['Population']>30

Canada          False
Brazil           True
South Africa     True
USA              True
India            True
France           True
Australia        True
Name: Population, dtype: bool

In [129]:
df.loc[df['Population']>30]

                  Continent  Population      GDP  Surface Area
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123
India                  Asia        33.2  6700000     567891234
France               Europe        56.8  7800000     678912345
Australia         Australia        87.6  8900000     789123456

In [130]:
df.loc[df['Population']>30,['Population']]

              Population
Brazil              36.8
South Africa        48.5
USA                 53.7
India               33.2
France              56.8
Australia           87.6

In [6]:
df['Population']>30

0    False
1     True
2     True
3     True
4     True
5     True
6     True
Name: Population, dtype: bool

In [131]:
df.loc[df['Population']>30,'GDP']

Brazil          3400000
South Africa    4500000
USA             5600000
India           6700000
France          7800000
Australia       8900000
Name: GDP, dtype: int64

In [132]:
df.loc[df['Population']>30,['Population','GDP']]

              Population      GDP
Brazil              36.8  3400000
South Africa        48.5  4500000
USA                 53.7  5600000
India               33.2  6700000
France              56.8  7800000
Australia           87.6  8900000

<h1>Dropping stuff</h1>

In [133]:
df.drop('Canada')

                  Continent  Population      GDP  Surface Area
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123
India                  Asia        33.2  6700000     567891234
France               Europe        56.8  7800000     678912345
Australia         Australia        87.6  8900000     789123456

In [134]:
df.drop(['Canada','France'])

                  Continent  Population      GDP  Surface Area
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123
India                  Asia        33.2  6700000     567891234
Australia         Australia        87.6  8900000     789123456

In [135]:
df.drop(columns=['Continent','GDP'])

              Population  Surface Area
Canada              20.0     123456789
Brazil              36.8     234567891
South Africa        48.5     345678912
USA                 53.7     456789123
India               33.2     567891234
France              56.8     678912345
Australia           87.6     789123456

In [136]:
df.drop(['Canada','France'],axis=0)

                  Continent  Population      GDP  Surface Area
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123
India                  Asia        33.2  6700000     567891234
Australia         Australia        87.6  8900000     789123456

In [137]:
df.drop(['Continent','GDP'],axis=1)

              Population  Surface Area
Canada              20.0     123456789
Brazil              36.8     234567891
South Africa        48.5     345678912
USA                 53.7     456789123
India               33.2     567891234
France              56.8     678912345
Australia           87.6     789123456

In [138]:
df.drop(['Continent','GDP'],axis='columns')

              Population  Surface Area
Canada              20.0     123456789
Brazil              36.8     234567891
South Africa        48.5     345678912
USA                 53.7     456789123
India               33.2     567891234
France              56.8     678912345
Australia           87.6     789123456

In [139]:
df.drop(['Canada','France'],axis='rows')

                  Continent  Population      GDP  Surface Area
Brazil        South America        36.8  3400000     234567891
South Africa         Africa        48.5  4500000     345678912
USA           North America        53.7  5600000     456789123
India                  Asia        33.2  6700000     567891234
Australia         Australia        87.6  8900000     789123456

<h1>Operations</h1>

In [140]:
df[['Population','GDP']]

              Population      GDP
Canada              20.0  2300000
Brazil              36.8  3400000
South Africa        48.5  4500000
USA                 53.7  5600000
India               33.2  6700000
France              56.8  7800000
Australia           87.6  8900000

In [141]:
df[['Population','GDP']]/100

              Population      GDP
Canada             0.200  23000.0
Brazil             0.368  34000.0
South Africa       0.485  45000.0
USA                0.537  56000.0
India              0.332  67000.0
France             0.568  78000.0
Australia          0.876  89000.0

In [142]:
crisis=pd.Series([-10000.0,-0.3],index=['GDP','Population'])

In [143]:
crisis

GDP          -10000.0
Population       -0.3
dtype: float64

In [144]:
df[['GDP','Population']]+crisis

                    GDP  Population
Canada        2290000.0        19.7
Brazil        3390000.0        36.5
South Africa  4490000.0        48.2
USA           5590000.0        53.4
India         6690000.0        32.9
France        7790000.0        56.5
Australia     8890000.0        87.3

In [145]:
df[['GDP','Population']]

                  GDP  Population
Canada        2300000        20.0
Brazil        3400000        36.8
South Africa  4500000        48.5
USA           5600000        53.7
India         6700000        33.2
France        7800000        56.8
Australia     8900000        87.6

<h1>Modifying DataFrames</h1>

<h2>
 Adding a new column</h2>

In [146]:
langs=pd.Series(['English','Spanish','English','English','Hindi','French','English'],index=['Canada','Brazil','South Africa','USA','India','France','Australia'],name='Language')

In [147]:
langs

Canada          English
Brazil          Spanish
South Africa    English
USA             English
India             Hindi
France           French
Australia       English
Name: Language, dtype: object

In [148]:
df['Languages']=langs

In [58]:
df

                  Continent  Population      GDP  Surface Area Languages
Canada        North America        20.0  2300000     123456789   English
Brazil        South America        36.8  3400000     234567891   Spanish
South Africa         Africa        48.5  4500000     345678912   English
USA           North America        53.7  5600000     456789123   English
India                  Asia        33.2  6700000     567891234     Hindi
France               Europe        56.8  7800000     678912345    French
Australia         Australia        87.6  8900000     789123456   English

In [149]:
langs

Canada          English
Brazil          Spanish
South Africa    English
USA             English
India             Hindi
France           French
Australia       English
Name: Language, dtype: object

In [150]:
df['Languages']

Canada          English
Brazil          Spanish
South Africa    English
USA             English
India             Hindi
France           French
Australia       English
Name: Languages, dtype: object

<h2>Renaming Columns</h2>

In [151]:
df.rename(
columns={'GDP':'Gross Domestic Product',
         'Languages':'Language',
         'ghj':'klj'
    },
index={
        'USA':'United States of America'
    })

,Continent,Population,Gross Domestic Product,Surface Area,Language
Canada,North America,20.0,2300000,123456789,English
Brazil,South America,36.8,3400000,234567891,Spanish
South Africa,Africa,48.5,4500000,345678912,English
United States of America,North America,53.7,5600000,456789123,English
India,Asia,33.2,6700000,567891234,Hindi
France,Europe,56.8,7800000,678912345,French
Australia,Australia,87.6,8900000,789123456,English

In [152]:
import pandas as pd

certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})
names = ['Tom', 'Kris', 'Ahmad', 'Beau']

certificates_earned.index = names
longest_streak = pd.Series([13, 11, 9, 7], index=names)
certificates_earned['Longest streak'] = longest_streak

print(certificates_earned)

       Certificates  Time (in months)  Longest streak
Tom               8                16              13
Kris              2                 5              11
Ahmad             5                 9               9
Beau              6                12               7

In [153]:
df['GDP']/df['Population']

Canada          115000.000000
Brazil           92391.304348
South Africa     92783.505155
USA             104283.054004
India           201807.228916
France          137323.943662
Australia       101598.173516
dtype: float64

In [154]:
df['GDP per capita']=df['GDP']/df['Population']

In [155]:
df

,Continent,Population,GDP,Surface Area,Languages,GDP per capita
Canada,North America,20.0,2300000,123456789,English,115000.000000
Brazil,South America,36.8,3400000,234567891,Spanish,92391.304348
South Africa,Africa,48.5,4500000,345678912,English,92783.505155
USA,North America,53.7,5600000,456789123,English,104283.054004
India,Asia,33.2,6700000,567891234,Hindi,201807.228916
France,Europe,56.8,7800000,678912345,French,137323.943662
Australia,Australia,87.6,8900000,789123456,English,101598.173516

In [156]:
df.rename(index=str.upper)

,Continent,Population,GDP,Surface Area,Languages,GDP per capita
CANADA,North America,20.0,2300000,123456789,English,115000.000000
BRAZIL,South America,36.8,3400000,234567891,Spanish,92391.304348
SOUTH AFRICA,Africa,48.5,4500000,345678912,English,92783.505155
USA,North America,53.7,5600000,456789123,English,104283.054004
INDIA,Asia,33.2,6700000,567891234,Hindi,201807.228916
FRANCE,Europe,56.8,7800000,678912345,French,137323.943662
AUSTRALIA,Australia,87.6,8900000,789123456,English,101598.173516

In [157]:
df.rename(index=lambda x: x.lower())

,Continent,Population,GDP,Surface Area,Languages,GDP per capita
canada,North America,20.0,2300000,123456789,English,115000.000000
brazil,South America,36.8,3400000,234567891,Spanish,92391.304348
south africa,Africa,48.5,4500000,345678912,English,92783.505155
usa,North America,53.7,5600000,456789123,English,104283.054004
india,Asia,33.2,6700000,567891234,Hindi,201807.228916
france,Europe,56.8,7800000,678912345,French,137323.943662
australia,Australia,87.6,8900000,789123456,English,101598.173516

In [199]:
df.rename(index=lambda x: x.title())

,Continent,Population,GDP,Surface Area,GDP per capita
Canada,North America,20.0,2300000.0,123456789.0,115000.000000
Brazil,South America,36.8,3400000.0,234567891.0,92391.304348
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
Usa,North America,53.7,5600000.0,456789123.0,104283.054004
India,Asia,33.2,6700000.0,567891234.0,201807.228916
France,Europe,56.8,7800000.0,678912345.0,137323.943662
Australia,Australia,87.6,8900000.0,789123456.0,101598.173516

<h2> Replacing values per column</h2>

In [200]:
df['Languages']='English'

In [201]:
df

,Continent,Population,GDP,Surface Area,GDP per capita,Languages
Canada,North America,20.0,2300000.0,123456789.0,115000.000000,English
Brazil,South America,36.8,3400000.0,234567891.0,92391.304348,English
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155,English
USA,North America,53.7,5600000.0,456789123.0,104283.054004,English
India,Asia,33.2,6700000.0,567891234.0,201807.228916,English
France,Europe,56.8,7800000.0,678912345.0,137323.943662,English
Australia,Australia,87.6,8900000.0,789123456.0,101598.173516,English

<h2>Dropping columns</h2>

In [202]:
df.drop(columns='Languages', inplace=True)

In [203]:
df

,Continent,Population,GDP,Surface Area,GDP per capita
Canada,North America,20.0,2300000.0,123456789.0,115000.000000
Brazil,South America,36.8,3400000.0,234567891.0,92391.304348
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
USA,North America,53.7,5600000.0,456789123.0,104283.054004
India,Asia,33.2,6700000.0,567891234.0,201807.228916
France,Europe,56.8,7800000.0,678912345.0,137323.943662
Australia,Australia,87.6,8900000.0,789123456.0,101598.173516

In [170]:
df.append(pd.Series({
    'Continent':'Asia',
    'GDP':9000000
}, name='China'))

                  Continent  Population      GDP  Surface Area  GDP per capita
Canada        North America        20.0  2300000   123456789.0   115000.000000
Brazil        South America        36.8  3400000   234567891.0    92391.304348
South Africa         Africa        48.5  4500000   345678912.0    92783.505155
USA           North America        53.7  5600000   456789123.0   104283.054004
India                  Asia        33.2  6700000   567891234.0   201807.228916
France               Europe        56.8  7800000   678912345.0   137323.943662
Australia         Australia        87.6  8900000   789123456.0   101598.173516
China                  Asia         NaN  9000000           NaN             NaN

In [191]:
df

,Continent,Population,GDP,Surface Area,GDP per capita
Canada,North America,20.0,2300000.0,123456789.0,115000.000000
Brazil,South America,36.8,3400000.0,234567891.0,92391.304348
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
USA,North America,53.7,5600000.0,456789123.0,104283.054004
India,Asia,33.2,6700000.0,567891234.0,201807.228916
France,Europe,56.8,7800000.0,678912345.0,137323.943662
Australia,Australia,87.6,8900000.0,789123456.0,101598.173516
China,Asia,NaN,9000000.0,NaN,NaN

In [189]:
df.loc['China']=pd.Series({
    'Continent':'Asia',
    'GDP':9000000
})

In [190]:
df

,Continent,Population,GDP,Surface Area,GDP per capita
Canada,North America,20.0,2300000.0,123456789.0,115000.000000
Brazil,South America,36.8,3400000.0,234567891.0,92391.304348
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
USA,North America,53.7,5600000.0,456789123.0,104283.054004
India,Asia,33.2,6700000.0,567891234.0,201807.228916
France,Europe,56.8,7800000.0,678912345.0,137323.943662
Australia,Australia,87.6,8900000.0,789123456.0,101598.173516
China,Asia,NaN,9000000.0,NaN,NaN

In [192]:
df.drop('China',axis='rows',inplace=True)

In [193]:
df

,Continent,Population,GDP,Surface Area,GDP per capita
Canada,North America,20.0,2300000.0,123456789.0,115000.000000
Brazil,South America,36.8,3400000.0,234567891.0,92391.304348
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
USA,North America,53.7,5600000.0,456789123.0,104283.054004
India,Asia,33.2,6700000.0,567891234.0,201807.228916
France,Europe,56.8,7800000.0,678912345.0,137323.943662
Australia,Australia,87.6,8900000.0,789123456.0,101598.173516

In [194]:
df.reset_index()

,index,Continent,Population,GDP,Surface Area,GDP per capita
0,Canada,North America,20.0,2300000.0,123456789.0,115000.000000
1,Brazil,South America,36.8,3400000.0,234567891.0,92391.304348
2,South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
3,USA,North America,53.7,5600000.0,456789123.0,104283.054004
4,India,Asia,33.2,6700000.0,567891234.0,201807.228916
5,France,Europe,56.8,7800000.0,678912345.0,137323.943662
6,Australia,Australia,87.6,8900000.0,789123456.0,101598.173516

In [195]:
df.set_index('Population')

                Continent        GDP  Surface Area  GDP per capita
Population
20.0        North America  2300000.0   123456789.0   115000.000000
36.8        South America  3400000.0   234567891.0    92391.304348
48.5               Africa  4500000.0   345678912.0    92783.505155
53.7        North America  5600000.0   456789123.0   104283.054004
33.2                 Asia  6700000.0   567891234.0   201807.228916
56.8               Europe  7800000.0   678912345.0   137323.943662
87.6            Australia  8900000.0   789123456.0   101598.173516

In [196]:
df

,Continent,Population,GDP,Surface Area,GDP per capita
Canada,North America,20.0,2300000.0,123456789.0,115000.000000
Brazil,South America,36.8,3400000.0,234567891.0,92391.304348
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
USA,North America,53.7,5600000.0,456789123.0,104283.054004
India,Asia,33.2,6700000.0,567891234.0,201807.228916
France,Europe,56.8,7800000.0,678912345.0,137323.943662
Australia,Australia,87.6,8900000.0,789123456.0,101598.173516

In [197]:
df.head()

,Continent,Population,GDP,Surface Area,GDP per capita
Canada,North America,20.0,2300000.0,123456789.0,115000.000000
Brazil,South America,36.8,3400000.0,234567891.0,92391.304348
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
USA,North America,53.7,5600000.0,456789123.0,104283.054004
India,Asia,33.2,6700000.0,567891234.0,201807.228916

In [198]:
df.tail()

,Continent,Population,GDP,Surface Area,GDP per capita
South Africa,Africa,48.5,4500000.0,345678912.0,92783.505155
USA,North America,53.7,5600000.0,456789123.0,104283.054004
India,Asia,33.2,6700000.0,567891234.0,201807.228916
France,Europe,56.8,7800000.0,678912345.0,137323.943662
Australia,Australia,87.6,8900000.0,789123456.0,101598.173516

In [206]:
pop=df['Population']

In [207]:
pop

Canada          20.0
Brazil          36.8
South Africa    48.5
USA             53.7
India           33.2
France          56.8
Australia       87.6
Name: Population, dtype: float64

In [208]:
pop.min()

20.0

In [209]:
pop.max()

87.6

In [210]:
pop.sum()

336.6

In [211]:
len(pop)

7

In [217]:
pop.count()

7

In [212]:
pop.sum()/len(pop)

48.08571428571429

In [214]:
pop.mean()

48.08571428571429

In [215]:
pop.std()

21.62856356545117

In [216]:
pop.median()

48.5

In [218]:
pop.quantile(0.25)

35.0

In [226]:
pop.quantile([0.2,0.4,0.6,.75,.8,1])

0.20    33.92
0.40    41.48
0.60    51.62
0.75    55.25
0.80    56.18
1.00    87.60
Name: Population, dtype: float64

In [227]:
pop.describe().to_frame()

       Population
count    7.000000
mean    48.085714
std     21.628564
min     20.000000
25%     35.000000
50%     48.500000
75%     55.250000
max     87.600000